.mobile-five-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .column{
        width: 18%;
    }
}

.mobile-four-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .column{
        width: 22%;
    }
}

.mobile-three-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .column{
        width: 30%;
    }
}


.mobile-three-columns-start{
    display: flex;
    justify-content: start;
    width: 100%;

    .column{
        width: inherit;
    }
}


.mobile-two-columns{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .column{
        width: 48%;
    }
}



.mobile-one-column{
    width: 100%;
    display: block;

    .column{
        width: 100%;
    }
}



.mobile-one-column-inline{
    display: inherit;
    width: 100%;

    .column{
        border-bottom: 1px solid hsl(0, 0%, 87%);
        display: flex;
        margin-bottom: 1rem;
        width: 100%;

        div{
            display: inherit;
            margin-right: 1rem;
            width: 100%;
        }
    }
}
